<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD - Mapper 3.0//EN"
	"http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.christoph.mybatis.builder.PersonMapper">
	<select id="listPerson" resultType="Person">
		SELECT * FROM Person
	</select>
	<insert id="insert" parameterType="Person" keyProperty="nif">
		INSERT INTO Person(nif, name, birthdate)
			VALUES(#{nif},#{name},#{birthdate})
	</insert>
</mapper>